<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>Creatures</h1>
<div>
<p>Creatures are essentially how you attack your opponent.  You need a certain
amount of land to summon them depending on the card.  You can use your
creatures to attack your opponent or defend against an attacking enemy.  There
is no limit to how much creatures you can have on the field.  </p>
</div>
<img src="{{url_for('static', filename='Creature.jpg')}}"
</body>
</html>
