<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head><!-- This is where the css file is loaded -->
<body>
<h1>Green</h1>
<div>
<p>The green attribute deals with large creatures that are very tanky and also
have a high attack.  Also since these creatures need a lot of land to play then
green also has alot of ways to get more land on the field such as spells and
creature abilities</p>
</div>
<img src="{{url_for('static', filename='FOREST.jpg')}}">
<!-- This is where the image and the link back to the home are loaded -->
<h4><a href="http://localhost:5000/home">Home</a></h4>
</body>
</html>
