<!doctype html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head><!-- This is where the css is loaded -->
  <body>
  <h1>Colours</h1>
  <p>In magic there are 5 different colours which corrospond to different
  general attribuits.</p><!-- This is where the links to the other pages is
  loaded -->
  <h4><a href="http://localhost:5000/red">Red</a></h4>
  <h4><a href="http://localhost:5000/green">Green</a></h4>
  <h4><a href="http://localhost:5000/blue">Blue</a></h4>
  <h4><a href="http://localhost:5000/black">Black</a></h4>
  <h4><a href="http://localhost:5000/white">White</a></h4>
  <h1>Card Types</h1>
  <p>There are 3 different main card types in magic.<p>
  <h4><a href="http://localhost:5000/creatures">Creatures</a></h4>
  <h4><a href="http://localhost:5000/land">Land</a></h4>
  <h4><a href="http://localhost:5000/spells">Spells</a></h4>




</html>
