<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
<h1>Land</h1>
<div>
<p>Land can be thought of as mana/cost as it is what is used to play any cards
you have.  Now land in and of itself is a card and there is a rule that you can
only play one land a turn.  This rule can be ignored by some card effects.
When you play a land it stays on the field and to use a land you need to tap it
and once a land is tapped you cant use it for "mana" again till your next
turn.</p>
</div>
<img src="{{url_for('static', filename='ColorlessLand.png')}}">
</body>
</html>
