<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head><!-- This is where the css is loaded -->
<body>
<h1>Red</h1>
<div>
<p>Red uses a strategy where they hit hard and they hit fast with cards that
don't cost a lot.  They also have a lot of direct damage abilitys and spells.
Also they have some unblockable creatures</p>
</div>
<img src="{{url_for('static', filename='Mountain244.jpg')}}">
<!-- This is where the image and link to the homepage is loaded -->
<h4><a href="http://localhost:5000/home">Home</a></h4>
</body>
</html>
