<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head><!-- This is where the css is loaded -->
<body>
<h1>Spells</h1>
<div>
<p>Spells are strange in that some can be played anytime even on the enemys
turn whereas others have to be played before combat.  Some spells are even
continuous and appear on the field.  Most however are not continuous and are
one time use</p>
</div>
<img src="{{url_for('static', filename='spell.jpg')}}">
<!-- This is where the image and the link back to the homepage are loaded -->
<h4><a href="http://localhost:5000/home">Home</a></h4>
</body>
</html>
